:root {
  --container-width: 50vw;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "Source Code Pro", Consolas;
  overflow: hidden;
}

.reversed {
  display: flex;
  flex-direction: column-reverse;
}

.main {
  margin: 0 auto;
  border: 0px solid white;
  top: 0;
}

.main-content {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  height: 75%;
  border: 0px solid green;
}

.container-treeview {
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  border: 0px solid orange;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  overflow: scroll;
  overflow-x: hidden;
  height: 49vh;
}

.container-input {
  
  border: 0px solid yellow;
}

.container-output {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-buttons {
  margin: 20px auto;
  border: 0px solid purple;
}

button {
  margin: 10px auto;
  font-size: 18pt;
  padding: 20px;
  width: 10vw;
}

.decode {
  background: #000;
  color: #fff;
  border: 2px solid #0f0;
}

.testbtn {
  background: #000;
  color: #fff;
  border: 2px solid #0ff;
}

.encode {
  background: #000;
  color: #fff;
  border: 2px solid #f00;
}

.decode:hover {
  background: #fff;
  color: #000;
  border: 2px solid #f00;
}

.testbtn:hover {
  background: #fff;
  color: #000;
  border: 2px solid #ff0;
}

.encode:hover {
  background: white;
  color: black;
  border: 2px solid green;
}

.input {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  height: 400px;
  min-height: 150px;
  max-height: 500px;
  background: #111;
  color: #bbb;
  resize: none;
  border-radius: 5px;
  margin-left: 13%;
}

.output {
  width: 80%;
  height: 150px;
}

.jsonView {
  margin: 0 auto;
  font-family: "Source Code Pro", Consolas, "Lucida Console", Menlo, "dejavu sans mono", monospace;
  font-size: 20pt;
  line-height: 20pt;
  padding: 4px;
  cursor: default;
  color: rgb(66, 236, 166);
  white-space: nowrap;
  -webkit-user-select: none;
  text-align: left;
}

.jsonView > div {
  display: inline-block;
}

.jsonView.hidden {
  display: none;
}

.jsonView > .children,
.jsonView.insert {
  display: block;
}

.jsonView > .name {
  color: rgb(236, 119, 45);
}

.jsonView > .separator:before {
  content: ":";
}

.jsonView > .separator {
  padding-right: 5px;
}

.jsonView > .spacing {
  display: inline-block;
  width: 15px;
}
.jsonView > .spacing::before {
  content: "1";
  visibility: hidden;
}

.jsonView > .value.null,
.jsonView > .value.undefined {
  color: rgb(128, 128, 128);
}

.jsonView > .value.boolean,
.jsonView > .value.number {
  color: rgb(228, 207, 0);
}

.jsonView > .value.string:not(.edit):before,
.jsonView > .value.string:not(.edit):after {
  content: '"';
}

.jsonView > .value.string {
  color: rgb(246, 226, 222);
}

.jsonView > .name:hover,
.jsonView > .value:hover {
  background-color: rgba(255, 21, 17, 0.51);
}

.jsonView > .jv-expand,
.jsonView > .jv-collapse {
  min-width: 20px;
  margin-left: -20px;
  cursor: pointer;
}

.jsonView > .jv-expand:hover::before,
.jsonView > .jv-collapse:hover::before {
  color: rgb(127,63,255);
}

.jsonView > .jv-expand:before {
  content: "\25B6";
}

.jsonView > .jv-collapse:before {
  content: "\25BC";
}

.jsonView > .edit {
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
}

.jsonView > .edit br {
  display: none;
}

.jsonView > .edit * {
  display: inline;
  white-space: nowrap;
}

.jsonView > .value.edit {
  color: rgb(255, 255, 255);
}

.jsonView > .delete:before {
  content: "+";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  display: inline-block;
}

.jsonView > .delete {
  opacity: 0;
  display: inline;
  padding: 3px;
  cursor: pointer;
  color: rgb(250, 150, 150);
}

.jsonView > .item:hover ~ .delete {
  opacity: 1;
  color: rgb(250, 150, 150);
}
.jsonView > .delete:hover {
  opacity: 1;
  color: rgb(255, 0, 0);
  background: rgba(220, 220, 220, 0.25);
}

.jsonView.readonly > .insert,
.jsonView.readonly > .delete {
  display: none !important;
}
.jsonView > .insert:before {
  content: "+";
}

.jsonView > .insert {
  display: none;
  color: rgb(0, 250, 0);
  cursor: pointer;
}

.jsonView.jv-expanded > .insert,
.jsonView.jv-expanded > .insert {
  display: inline-block;
  margin-left: 20px;
  padding: 3px;
}

.jsonView > .insert:hover {
  color: rgb(0, 255, 0);
  background: rgba(220, 220, 220, 0.25);
}
